<h1>Tasks</h1>

<table>
    <thead>
        <th>Task</th>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{title}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>